In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
# !pip install html5lib 
# df = pd.read_html('http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2021.csv')

In [6]:
# Extract Data
col_names = ['tid', 'price', 'dateOfTransfer', 'postcode', 'propertyType', 'isNewProperty', 'tenure', 'paon', 'saon', 'street', 'locality', 'city', 'district',
             'country', 'ttype', 'recordStatus'] # 'yearOfTransfer', 'monthOfTransfer', 'pc_left', 'pc_right'
df = pd.read_csv('E:\learn\interview\data\pp-2021.csv', header = None,  names = col_names  )
df.head()

,tid,price,dateOfTransfer,postcode,propertyType,isNewProperty,tenure,paon,saon,street,locality,city,district,country,ttype,recordStatus
0,{E53EDD2E-C6F0-83EC-E053-6B04A8C03A59},70000,2021-06-11 00:00,HX2 8SN,T,N,F,16,NaN,CLOUGH LANE,MIXENDEN,HALIFAX,CALDERDALE,WEST YORKSHIRE,B,A
1,{E53EDD2E-C6F1-83EC-E053-6B04A8C03A59},150000,2021-11-08 00:00,LS27 9AL,O,N,F,RUSSELL HOUSE,3,HIGH STREET,MORLEY,LEEDS,LEEDS,WEST YORKSHIRE,B,A
2,{E53EDD2E-C6F3-83EC-E053-6B04A8C03A59},430000,2021-10-29 00:00,LS6 1BU,D,N,F,10,NaN,MANOR TERRACE,HEADINGLEY,LEEDS,LEEDS,WEST YORKSHIRE,B,A
3,{E53EDD2E-C6F4-83EC-E053-6B04A8C03A59},135000,2021-10-26 00:00,LS10 1LP,F,N,L,MCCLINTOCK HOUSE,APARTMENT 32,THE BOULEVARD,NaN,LEEDS,LEEDS,WEST YORKSHIRE,B,A
4,{E53EDD2E-C704-83EC-E053-6B04A8C03A59},131000,2021-12-21 00:00,HD2 2SN,O,N,F,244,NaN,HALIFAX OLD ROAD,BIRKBY,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,B,A

In [108]:
df.shape

(1278278, 16)

In [113]:
temp = df[['postcode', 'paon', 'saon', 'street', 'locality', 'city']].drop_duplicates()
temp.shape

(1260478, 6)

In [111]:
temp.loc[~temp['postcode'].isnull()]

,postcode,paon,saon,street,locality,city
0,HX2 8SN,16,NaN,CLOUGH LANE,MIXENDEN,HALIFAX
1,LS27 9AL,RUSSELL HOUSE,3,HIGH STREET,MORLEY,LEEDS
2,LS6 1BU,10,NaN,MANOR TERRACE,HEADINGLEY,LEEDS
3,LS10 1LP,MCCLINTOCK HOUSE,APARTMENT 32,THE BOULEVARD,NaN,LEEDS
4,HD2 2SN,244,NaN,HALIFAX OLD ROAD,BIRKBY,HUDDERSFIELD
...,...,...,...,...,...,...
1278273,NN2 7RA,40,NaN,WEST RIDGE,NaN,NORTHAMPTON
1278274,NN11 9AU,10,NaN,COLERIDGE WALK,NaN,DAVENTRY
1278275,NN1 3JE,39,NaN,CLARE STREET,NaN,NORTHAMPTON
1278276,NN18 8QS,5,NaN,GOODWOOD CLOSE,OAKLEY,CORBY
1278277,NN1 3RN,54,NaN,LORNE ROAD,NaN,NORTHAMPTON

In [118]:
year = 2021
url = f'http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-{year}.csv'
print(url)
filename = url.split('/')[-1]
print(filename)
output_path = f'data\{filename}'
output_path

http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2021.csv
pp-2021.csv

'data\\pp-2021.csv'

In [ ]:
# Cleaning Data

# 1. Remove Rows with null post codes
df_q = df.loc[~ df['postcode'].isnull(), ['dateOfTransfer','postcode', 'price']]
# Handling Date
df['dateOfTransfer'] = pd.to_datetime(df['dateOfTransfer'])
# Derive post code area
df_q['postcode_area'] = df_q['postcode'].apply(lambda x: x.split(' ')[0])
# Extract Year
df_q['year'] = df_q['dateOfTransfer'].dt.year

In [119]:
# Questions
# 1. What are the top 10 postcode areas (for example CB22, DL4, …) with the lowest yearly median house price paid in the year 2021?
postaArea_medianPrice_df = df_q.groupby('postcode_area')['price'].median().sort_values()
postaArea_medianPrice_df.iloc[:10].index

Index(['DL4', 'TS1', 'BD1', 'DL17', 'SR1', 'SR8', 'DN31', 'BB11', 'TS3',
       'TS29'],
      dtype='object', name='postcode_area')

In [120]:
postaArea_medianPrice_df.iloc[:10].index.to_list()

['DL4', 'TS1', 'BD1', 'DL17', 'SR1', 'SR8', 'DN31', 'BB11', 'TS3', 'TS29']

In [8]:
# 2. What are the top 5 postcode areas prefixed with CB and with the smallest yearly mean house price in the year 2021?
pattern = 'CB'
pattern_match = df_q['postcode_area'].str.startswith(pattern)

CBpostaArea_meanPrice_df = df_q.loc[pattern_match]
CBpostaArea_meanPrice_df.groupby('postcode_area')['price'].mean().sort_values().iloc[:5].index

Index(['CB9', 'CB6', 'CB7', 'CB25', 'CB24'], dtype='object', name='postcode_area')

In [98]:
year = 2021
url = f'http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-{year}.csv'
output_path = f'data\pp-{year}.csv'

# url = "https://example.com/data.csv"

# with requests.get(url, stream=True) as r:
#     r.raise_for_status()  # Raise error if download fails
#     with open(output_path, "wb") as f:
#         for chunk in r.iter_content(chunk_size=8192):  # 1MB chunks
#             f.write(chunk)

# print(f"Downloaded to {output_path}")

response = requests.get(url)
with open(output_path, "wb") as f:
    f.write(response.content)

# import pandas as pd
# df = pd.read_csv("local.csv")

In [ ]:
# df_iterator = pd.read_csv(url, chunksize=100000)
# for chunk in df_iterator:

In [92]:
df_temp = pd.read_csv(f'E:\learn\interview\data\pp-{2021}.csv', header = None,  names = col_names)

In [123]:
# 3. What are the top overall 25 postcode areas with the lowest cumulative yearly median difference sum house price since registered by 1995 up to 2021?
start_year = 1995
end_year = 2021
years = [y for y in range(start_year,end_year+1)]

df = pd.DataFrame(columns= col_names)
for year in years:
    print(year)
    df_temp = pd.read_csv(f'E:\learn\interview\data_1\pp-{year}.csv', header = None,  names = col_names)
    df = pd.concat([df, df_temp], ignore_index = True)
    # print(df.shape)

1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

In [ ]:
df = df.loc[~ df['postcode'].isnull()]
df['postcode_area'] = df['postcode'].astype(str).apply(lambda x: x.split(' ')[0])
df['dateOfTransfer'] = pd.to_datetime(df['dateOfTransfer'])
df['year'] = df['dateOfTransfer'].dt.year

In [57]:
# df[['postcode_area', 'year']].drop_duplicates().groupby('postcode_area').count() == 27

                year
postcode_area
AL1             True
AL10            True
AL2             True
AL3             True
AL4             True
...              ...
YO62            True
YO7             True
YO8             True
YO90           False
YO91           False

[2385 rows x 1 columns]

In [ ]:
df_q3 = df.groupby(['postcode_area', 'year'])['price'].median()
df_q3= df_q3.reset_index(drop = False)
df_q3['price_diff'] = df_q3.groupby(['postcode_area'])['price'].diff()
df_q3['price_diff']= df_q3['price_diff'].fillna(0)
df_q3.groupby('postcode_area')['price_diff'].sum().sort_values().iloc[:25]

KeyError: 'postcode_area'

In [ ]:
# df_q3 = df_q3.sort_values(by=['postcode_area', 'year'])

In [70]:
df_q3[df_q3['postcode_area'] == 'UB11']

      postcode_area  year       price  price_diff
57200          UB11  2013  20900000.0         0.0
57201          UB11  2014  15750000.0  -5150000.0
57202          UB11  2015   7220631.5  -8529368.5
57203          UB11  2016  21600000.0  14379368.5
57204          UB11  2017  21400000.0   -200000.0
57205          UB11  2018  17550000.0  -3850000.0
57206          UB11  2020  20343750.0   2793750.0
57207          UB11  2021   4750000.0 -15593750.0

In [ ]:
# df_temp_3 = df_q3.copy()
# df_temp_3['year_next'] = df_temp_3['year'] + 1

In [66]:
# df_temp_3

      postcode_area  year       price  year_next
0               AL1  1995     79450.0       1996
1               AL1  1996     83500.0       1997
2               AL1  1997     99700.0       1998
3               AL1  1998    109850.0       1999
4               AL1  1999    129950.0       2000
...             ...   ...         ...        ...
62011           YO8  2021    210000.0       2022
62012          YO90  2015  28100000.0       2016
62013          YO90  2016  12750000.0       2017
62014          YO90  2017  15500000.0       2018
62015          YO91  2017    150000.0       2018

[62016 rows x 4 columns]

In [75]:
# df_q3_1 = pd.merge(df_q3, df_temp_3, left_on= ['year', 'postcode_area'], right_on= ['year_next', 'postcode_area'], how = 'left', suffixes= ['_original', '__prev_year'])
# df_q3_1['median_diff'] = df_q3_1['price_original'] - df_q3_1['price__prev_year']

0               NaN
1            4050.0
2           16200.0
3           10150.0
4           20100.0
            ...
62011       15000.0
62012           NaN
62013   -15350000.0
62014     2750000.0
62015           NaN
Length: 62016, dtype: object

In [45]:
# df_q3.sort_values(by = ['postcode_area', 'year'])

      postcode_area  year       price
0               AL1  1995     79450.0
1               AL1  1996     83500.0
2               AL1  1997     99700.0
3               AL1  1998    109850.0
4               AL1  1999    129950.0
...             ...   ...         ...
59710           YO8  2020    195000.0
59711          YO90  2015  28100000.0
59712          YO90  2016  12750000.0
59713          YO90  2017  15500000.0
59714          YO91  2017    150000.0

[59715 rows x 3 columns]

In [ ]:
'''
4. If we filter by postcode area prefix “CB”, take the top 5 smallest yearly median price postcode areas and sort them by the cumulative yearly 
mean difference sum price in ascending order, what is the result of it?
'''

In [75]:
pattern = 'CB'
pattern_match = df['postcode_area'].str.startswith(pattern)
CBpostaArea_medianPrice_df = df.loc[pattern_match]

CBpostaArea_medianPrice_df.groupby(['postcode_area', 'year'])['price'].median()

postcode_area  year
CB1            1995     69995.0
               1996     75000.0
               1997     84500.0
               1998     92000.0
               1999    104475.0
                         ...
CB9            2017    237750.0
               2018    245000.0
               2019    245000.0
               2020    245000.0
               2021    268000.0
Name: price, Length: 434, dtype: object

In [83]:
df_q4 = CBpostaArea_medianPrice_df.groupby(['postcode_area', 'year'])['price'].mean()
df_q4= df_q4.reset_index(drop = False)
df_q4

    postcode_area  year          price
0             CB1  1995   77718.197368
1             CB1  1996   82896.135447
2             CB1  1997   92611.487611
3             CB1  1998  101570.008239
4             CB1  1999  117586.158379
..            ...   ...            ...
429           CB9  2017  303157.572695
430           CB9  2018  290779.872211
431           CB9  2019  295042.286282
432           CB9  2020  278515.313609
433           CB9  2021  303575.126582

[434 rows x 3 columns]

In [84]:
df_q4['price_diff'] = df_q4.groupby(['postcode_area'])['price'].diff()
df_q4['price_diff']= df_q4['price_diff'].fillna(0)
df_q4

    postcode_area  year          price    price_diff
0             CB1  1995   77718.197368      0.000000
1             CB1  1996   82896.135447   5177.938078
2             CB1  1997   92611.487611   9715.352164
3             CB1  1998  101570.008239   8958.520628
4             CB1  1999  117586.158379  16016.150140
..            ...   ...            ...           ...
429           CB9  2017  303157.572695  71486.663604
430           CB9  2018  290779.872211 -12377.700484
431           CB9  2019  295042.286282   4262.414071
432           CB9  2020  278515.313609 -16526.972673
433           CB9  2021  303575.126582  25059.812973

[434 rows x 4 columns]

In [89]:

df_q4.groupby('postcode_area')['price_diff'].sum().sort_values().iloc[:25].apply(lambda x: int(x))

postcode_area
CB9      248126
CB6      269518
CB7      281720
CB25     339044
CB24     352465
CB8      383917
CB21     418681
CB23     424142
CB10     460884
CB1      491835
CB11     508645
CB22     516316
CB5      529486
CB2      547519
CB4      767534
CB3      785246
CB20    6241500
Name: price_diff, dtype: int64

In [4]:
col_names = ['tid', 'price', 'dateOfTransfer', 'postcode', 'propertyType', 'isNewProperty', 'tenure', 'paon', 'saon', 'street', 'locality', 'city', 'district',
             'country', 'ttype', 'recordStatus']
year = 2021
import pandas as pd
from pathlib import Path
file_path = Path("..") / "data" / f"pp-{year}.csv"
df_temp = pd.read_csv(file_path, header=None, names=col_names)  # Unix or portable

In [5]:
df_temp

,tid,price,dateOfTransfer,postcode,propertyType,isNewProperty,tenure,paon,saon,street,locality,city,district,country,ttype,recordStatus
0,{E53EDD2E-C6F0-83EC-E053-6B04A8C03A59},70000,2021-06-11 00:00,HX2 8SN,T,N,F,16,NaN,CLOUGH LANE,MIXENDEN,HALIFAX,CALDERDALE,WEST YORKSHIRE,B,A
1,{E53EDD2E-C6F1-83EC-E053-6B04A8C03A59},150000,2021-11-08 00:00,LS27 9AL,O,N,F,RUSSELL HOUSE,3,HIGH STREET,MORLEY,LEEDS,LEEDS,WEST YORKSHIRE,B,A
2,{E53EDD2E-C6F3-83EC-E053-6B04A8C03A59},430000,2021-10-29 00:00,LS6 1BU,D,N,F,10,NaN,MANOR TERRACE,HEADINGLEY,LEEDS,LEEDS,WEST YORKSHIRE,B,A
3,{E53EDD2E-C6F4-83EC-E053-6B04A8C03A59},135000,2021-10-26 00:00,LS10 1LP,F,N,L,MCCLINTOCK HOUSE,APARTMENT 32,THE BOULEVARD,NaN,LEEDS,LEEDS,WEST YORKSHIRE,B,A
4,{E53EDD2E-C704-83EC-E053-6B04A8C03A59},131000,2021-12-21 00:00,HD2 2SN,O,N,F,244,NaN,HALIFAX OLD ROAD,BIRKBY,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,B,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278273,{D707E536-89CA-0AD9-E053-6B04A8C067CC},158000,2021-12-17 00:00,NN2 7RA,T,N,F,40,NaN,WEST RIDGE,NaN,NORTHAMPTON,WEST NORTHAMPTONSHIRE,WEST NORTHAMPTONSHIRE,B,A
1278274,{D707E536-89CB-0AD9-E053-6B04A8C067CC},105000,2021-05-26 00:00,NN11 9AU,F,N,L,10,NaN,COLERIDGE WALK,NaN,DAVENTRY,WEST NORTHAMPTONSHIRE,WEST NORTHAMPTONSHIRE,B,A
1278275,{D707E536-89CC-0AD9-E053-6B04A8C067CC},239000,2021-10-05 00:00,NN1 3JE,T,N,F,39,NaN,CLARE STREET,NaN,NORTHAMPTON,WEST NORTHAMPTONSHIRE,WEST NORTHAMPTONSHIRE,B,A
1278276,{D707E536-89CD-0AD9-E053-6B04A8C067CC},190000,2021-09-08 00:00,NN18 8QS,T,N,F,5,NaN,GOODWOOD CLOSE,OAKLEY,CORBY,NORTH NORTHAMPTONSHIRE,NORTH NORTHAMPTONSHIRE,B,A
1278277,{D707E536-89CF-0AD9-E053-6B04A8C067CC},210000,2021-10-05 00:00,NN1 3RN,T,N,F,54,NaN,LORNE ROAD,NaN,NORTHAMPTON,WEST NORTHAMPTONSHIRE,WEST NORTHAMPTONSHIRE,B,A

In [16]:

df = df.loc[~ df['postcode'].isnull()]
df['postcode_area'] = df['postcode'].astype(str).apply(lambda x: x.split(' ')[0])
counts_series = df['postcode_area'].value_counts()
postcode_areas_cutoff = counts_series[counts_series >= 10].index.to_list()
postcode_areas_cutoff

['E14',
 'CR0',
 'BN3',
 'SW11',
 'ST5',
 'E17',
 'BN1',
 'BS16',
 'BN2',
 'PR4',
 'SW18',
 'LE12',
 'LU7',
 'SL6',
 'LE2',
 'SW19',
 'PR2',
 'NG5',
 'LE3',
 'PE7',
 'LE67',
 'B90',
 'GL2',
 'NG9',
 'CF14',
 'TQ12',
 'BA2',
 'PR7',
 'PR3',
 'CM1',
 'CV6',
 'NG17',
 'SW16',
 'RH10',
 'BH23',
 'NN3',
 'LN6',
 'WA5',
 'RH12',
 'FY5',
 'LU2',
 'RH1',
 'SW17',
 'FY8',
 'M33',
 'CM2',
 'ST4',
 'ST7',
 'LE9',
 'SS9',
 'DN4',
 'PE28',
 'SK8',
 'PR8',
 'SW6',
 'BL1',
 'CF5',
 'NG16',
 'BB5',
 'MK45',
 'CV37',
 'GL52',
 'CO10',
 'PE19',
 'NG24',
 'LE10',
 'PE2',
 'CM3',
 'CO15',
 'N1',
 'NW9',
 'OX16',
 'TA6',
 'CO4',
 'CV10',
 'DA1',
 'NG2',
 'RG12',
 'SS7',
 'SO50',
 'WA4',
 'WN7',
 'DN14',
 'S6',
 'CV3',
 'HU17',
 'SE1',
 'PE11',
 'NR31',
 'YO8',
 'ST6',
 'DE13',
 'LE4',
 'SK9',
 'MK42',
 'IP14',
 'M5',
 'NP19',
 'SK6',
 'DE55',
 'CW2',
 'LE16',
 'PR1',
 'WF10',
 'LE7',
 'SN25',
 'GU14',
 'ME10',
 'NN14',
 'CM7',
 'NW10',
 'N4',
 'W5',
 'DE22',
 'NN4',
 'DE11',
 'BN11',
 'B77',
 'ST3',
 'LS25',
 'BS5',
 'BA14',
 'EX39',
 'CT9',
 'FY4',
 'BH21',
 'WA8',
 'DE21',
 'NG31',
 'SE18',
 'PE12',
 'OX11',
 'HG1',
 'M24',
 'NG15',
 'TN23',
 'DE7',
 'SW15',
 'SS0',
 'SL1',
 'BA1',
 'SO31',
 'SK14',
 'E3',
 'DL3',
 'GL7',
 'BS3',
 'M28',
 'NG19',
 'LA1',
 'TQ1',
 'BR2',
 'ME15',
 'SN3',
 'NE3',
 'CW1',
 'SO16',
 'ME8',
 'CW8',
 'BB2',
 'PR9',
 'DY8',
 'PE6',
 'EX4',
 'BR3',
 'GU21',
 'PO12',
 'M20',
 'WR11',
 'SK10',
 'CV5',
 'WA3',
 'GL51',
 'HU5',
 'NG12',
 'ME5',
 'NN2',
 'CM23',
 'OX26',
 'NN8',
 'SK7',
 'PO21',
 'HA4',
 'CH7',
 'NG34',
 'LN2',
 'MK43',
 'RG2',
 'BS4',
 'M3',
 'BS15',
 'CR2',
 'CV2',
 'EX2',
 'CW5',
 'PO20',
 'BB7',
 'KT12',
 'NN5',
 'NE61',
 'CO7',
 'BR1',
 'EX8',
 'LU5',
 'WA9',
 'DE24',
 'E4',
 'BB12',
 'NG18',
 'LE8',
 'RH16',
 'DN21',
 'NN15',
 'DL1',
 'SO19',
 'SG8',
 'HX3',
 'NG10',
 'NG4',
 'HU7',
 'WN2',
 'WF2',
 'BB4',
 'LE11',
 'M34',
 'NE5',
 'CF83',
 'WN6',
 'RG14',
 'PE21',
 'PO7',
 'NW6',
 'S75',
 'YO25',
 'SK11',
 'LA14',
 'SN1',
 'PR25',
 'CW12',
 'SP11',
 'LN4',
 'LS27',
 'SG5',
 'BH14',
 'BB1',
 'CF62',
 'B31',
 'CB6',
 'NR32',
 'W2',
 'ME7',
 'S60',
 'CM8',
 'TS17',
 'E16',
 'GL3',
 'DH1',
 'RG30',
 'DT4',
 'PO4',
 'WS11',
 'WA15',
 'SN15',
 'E11',
 'SG1',
 'NE23',
 'SW2',
 'S66',
 'NN10',
 'CT14',
 'PO9',
 'RG24',
 'SE9',
 'S63',
 'DL14',
 'CB24',
 'CV11',
 'NE13',
 'CR8',
 'WA10',
 'WN8',
 'ME14',
 'BD20',
 'SA4',
 'MK17',
 'WR5',
 'SO41',
 'LE5',
 'CV34',
 'BN27',
 'TA1',
 'BR6',
 'LS28',
 'BS37',
 'RH11',
 'BS23',
 'PR5',
 'HG3',
 'TF1',
 'S43',
 'SL4',
 'SE3',
 'WA7',
 'DE23',
 'CO3',
 'YO12',
 'ME2',
 'ME17',
 'NG3',
 'PO19',
 'LS29',
 'CT11',
 'GL1',
 'CT6',
 'FY6',
 'BS34',
 'S81',
 'CA2',
 'LN1',
 'RH6',
 'WF1',
 'CT5',
 'BB10',
 'LN5',
 'DE56',
 'NW3',
 'CF64',
 'NP44',
 'EX31',
 'NE28',
 'HP22',
 'OX14',
 'BB3',
 'BH15',
 'SE15',
 'SR8',
 'GL4',
 'CF31',
 'PE15',
 'LN11',
 'ME1',
 'TN2',
 'M27',
 'M41',
 'M15',
 'PO33',
 'CH4',
 'CF24',
 'BL3',
 'BS24',
 'AL1',
 'TN39',
 'NE24',
 'HG2',
 'CV21',
 'OX12',
 'NR33',
 'NN11',
 'S41',
 'BB9',
 'SE10',
 'BL2',
 'NN6',
 'ST16',
 'CO2',
 'IP4',
 'LU3',
 'RG1',
 'NP20',
 'WR14',
 'WF4',
 'CH5',
 'TS5',
 'RG40',
 'WF8',
 'BL9',
 'SK17',
 'SO15',
 'RG42',
 'TR11',
 'BR5',
 'NG8',
 'BS22',
 'DH8',
 'RG7',
 'SA1',
 'HD9',
 'LS17',
 'MK18',
 'W4',
 'DN22',
 'S10',
 'CO16',
 'PE13',
 'OX29',
 'RH13',
 'HP13',
 'BN21',
 'S71',
 'ME16',
 'M4',
 'GU34',
 'DH6',
 'RH19',
 'EX5',
 'LL18',
 'RG4',
 'FY1',
 'CW11',
 'S8',
 'CH3',
 'TS10',
 'N8',
 'BL6',
 'N17',
 'SG18',
 'B98',
 'SN10',
 'OL2',
 'PE30',
 'WF3',
 'BS7',
 'ME13',
 'B92',
 'TN34',
 'ME4',
 'LS16',
 'CB7',
 'HR4',
 'OX4',
 'CH2',
 'IP1',
 'SM1',
 'DH4',
 'N16',
 'S70',
 'CB1',
 'BA11',
 'LS12',
 'CF44',
 'RM12',
 'B91',
 'GU15',
 'GL50',
 'NR29',
 'DH7',
 'TN12',
 'HX2',
 'W3',
 'CV23',
 'SN2',
 'NR7',
 'WS12',
 'RM16',
 'SY3',
 'SO40',
 'EX16',
 'PE9',
 'HD3',
 'CF3',
 'SS6',
 'SK13',
 'CM17',
 'SE6',
 'CM9',
 'MK40',
 'BH12',
 'GU12',
 'EX1',
 'TN4',
 'CV22',
 'RH15',
 'NW7',
 'RM13',
 'BL8',
 'BN16',
 'PO2',
 'WS15',
 'WS13',
 'CW9',
 'WA14',
 'EN1',
 'PO6',
 'TS25',
 'IG11',
 'E1',
 'S42',
 'WD3',
 'NN17',
 'SE13',
 'TA2',
 'OL11',
 'TF2',
 'LU6',
 'OL4',
 'ME12',
 'KT6',
 'TN24',
 'WV10',
 'WF9',
 'SO51',
 'DE4',
 'LA9',
 'OL12',
 'CV8',
 'CH66',
 'CH1',
 'LE18',
 'PO16',
 'TQ2',
 'YO11',
 'SO30',
 'SW12',
 'CB23',
 'PO8',
 'CM6',
 'M6',
 'RG41',
 'GU9',
 'NN18',
 'LE15',
 'WR9',
 'DN35',
 'DE6',
 'CT20',
 'PO30',
 'NP4',
 'NN12',
 'NE12',
 'SO45',
 'NN9',
 'L4',
 'DE65',
 'LS7',
 'MK41',
 'SW4',
 'S35',
 'CF23',
 'CR4',
 'SS2',
 'SR4',
 'GU35',
 'CO9',
 'SL2',
 'SY2',
 'L36',
 'DN5',
 'SK4',
 'CV32',
 'HP2',
 'SR2',
 'CH43',
 'M30',
 'LS15',
 'BD22',
 'HP3',
 'B74',
 'CB8',
 'DA11',
 'WR2',
 'BD23',
 'NE6',
 'TQ3',
 'ME3',
 'HD8',
 'NG7',
 'DH9',
 'PL9',
 'SP10',
 'CO5',
 'SG2',
 'WS3',
 'B23',
 'WN5',
 'PR6',
 'RG22',
 'BS20',
 'BH25',
 'RM3',
 'B14',
 'BN23',
 'OX10',
 'PL4',
 'CV31',
 'S80',
 'NE34',
 'SG12',
 'AL7',
 'NE15',
 'SS8',
 'ST17',
 'TS26',
 'BS6',
 'HA5',
 'OX2',
 'SN12',
 'BN17',
 'SG19',
 'HR2',
 'HA8',
 'SW20',
 'OX18',
 'TN6',
 'LS8',
 'NN1',
 'BH22',
 'WV6',
 'SM6',
 'OL9',
 'B97',
 'DN17',
 'HR1',
 'KT19',
 'DA12',
 'SE19',
 'CR5',
 'PL6',
 'W12',
 'LU1',
 'CT10',
 'CO6',
 'PE29',
 'NE63',
 'B63',
 'CW7',
 'CF37',
 'BN22',
 'PO22',
 'HU15',
 'BA3',
 'WV14',
 'IP28',
 'LL11',
 'NW2',
 'S40',
 'PL1',
 'TN22',
 'NR3',
 'SA15',
 'DN11',
 'LE17',
 'ST1',
 'HG4',
 'PO13',
 'TN38',
 'NG11',
 'NE29',
 'SS17',
 'L15',
 'PE1',
 'PE10',
 'EN2',
 'BL5',
 'SA2',
 'DY6',
 'EN8',
 'RM11',
 'DE14',
 'SR6',
 'B26',
 'UB10',
 'HU8',
 'ME19',
 'FY3',
 'EN5',
 'YO24',
 'CA14',
 'CA1',
 'PE31',
 'TW15',
 'RH20',
 'WD6',
 'HA1',
 'KT22',
 'S5',
 'CF11',
 'GU22',
 'DN36',
 'SA3',
 'NR18',
 'SE25',
 'LS13',
 'BD2',
 'CR3',
 'CB9',
 'M26',
 'L37',
 'BS8',
 'NR30',
 'SR3',
 'SR7',
 'SE23',
 'SS1',
 'SM5',
 'DY5',
 'NR1',
 'CV35',
 'KT13',
 'YO30',
 'PO14',
 'E6',
 'SL3',
 'DL2',
 'M40',
 'GL54',
 'SO32',
 'W14',
 'CT1',
 'YO26',
 'NR14',
 'B29',
 'PL3',
 'NN16',
 'SN5',
 'CF72',
 'CH45',
 'HP21',
 'SP4',
 'SA18',
 'IG10',
 'M1',
 'NR13',
 'IP11',
 'CH62',
 'NP16',
 'AL5',
 'DL16',
 'BA12',
 'HA3',
 'RG27',
 'TF9',
 'DY3',
 'GL5',
 'BD13',
 'SA14',
 'SP2',
 'NG13',
 'LS26',
 'GL20',
 'RG9',
 'TQ13',
 'HD6',
 'PO15',
 'TN40',
 'BB8',
 'SO18',
 'DH2',
 'TN25',
 'LS14',
 'WA11',
 'CA28',
 'GU1',
 'M16',
 'OX7',
 'BN13',
 'HR9',
 'KT3',
 'EN3',
 'RG6',
 'NP11',
 'AL3',
 'MK3',
 'L31',
 'BN14',
 'UB8',
 'BA13',
 'MK10',
 'BH9',
 'E2',
 'HA2',
 'NR6',
 'DN16',
 'GU51',
 'E10',
 'KT15',
 'CA11',
 'DN32',
 'YO31',
 'BD16',
 'DY10',
 'W6',
 'WA2',
 'SE5',
 'CM14',
 'OX28',
 'SK2',
 'LS6',
 'SO22',
 'LA2',
 'WF17',
 'RM1',
 'DE3',
 'PL25',
 'CV4',
 'HU9',
 'CV47',
 'YO16',
 'IG8',
 'NG21',
 'WS7',
 'TR1',
 'UB3',
 'DT9',
 'LE13',
 'IP3',
 'GU10',
 'DN6',
 'PL26',
 'DA7',
 'CV7',
 'TS19',
 'B78',
 'SA11',
 'SG6',
 'S64',
 'E15',
 'S11',
 'GU7',
 'BS14',
 'SE16',
 'BA21',
 'KT2',
 'ST13',
 'SW9',
 'RM7',
 'BB11',
 'HP1',
 'WA16',
 'PL2',
 'B60',
 'RH2',
 'L23',
 'YO7',
 'SS15',
 'SE22',
 'SO53',
 'PL15',
 'PL5',
 'DE15',
 'FY2',
 'NR12',
 'DN15',
 'HP18',
 'S73',
 'SL5',
 'TQ7',
 'DT11',
 'HD4',
 'PL14',
 'DL5',
 'SY1',
 'DA15',
 'BN25',
 'RM14',
 'IP25',
 'TF4',
 'B79',
 'WV11',
 'BN15',
 'TS18',
 'BS31',
 'S61',
 'NG22',
 'SN11',
 'CH44',
 'BH1',
 'NP12',
 'DT1',
 'M9',
 'HP19',
 'SY11',
 'SS16',
 'BD10',
 'DN3',
 'NP23',
 'AL4',
 'DA8',
 'GL15',
 'TS6',
 'NE25',
 'EN6',
 'WS10',
 'IG1',
 'NE9',
 'OL16',
 'SS3',
 'PO5',
 'DH3',
 'SK3',
 'SW8',
 'IP12',
 'TW1',
 'BH24',
 'TN13',
 'DT2',
 'TW11',
 'BH6',
 'DY11',
 'TW18',
 'SA6',
 'DA16',
 'NE33',
 'M25',
 'KT4',
 'NE8',
 'S44',
 'CR7',
 'S12',
 'HD7',
 'PL7',
 'CT3',
 'BH8',
 'SN4',
 'LS11',
 'NW1',
 'EX14',
 'IP31',
 'LU4',
 'NR8',
 'TW7',
 'HP4',
 'CH42',
 'RG21',
 'TS7',
 'SE26',
 'LA4',
 'CV12',
 'SG4',
 'B45',
 'LL12',
 'BS9',
 'L13',
 'S20',
 'TQ4',
 'TR7',
 'M32',
 'YO42',
 'NE30',
 'LA3',
 'SN6',
 'FY7',
 'TQ14',
 'EX10',
 'HP5',
 'NP7',
 'S72',
 'SN14',
 'OX3',
 'GL6',
 'SM2',
 'NR2',
 'L25',
 'TQ5',
 'SO14',
 'B75',
 'WA12',
 'BN43',
 'SY4',
 'NG14',
 'LL13',
 'LS10',
 'NP26',
 'E8',
 'NG6',
 'WD23',
 'NG20',
 'BN20',
 'BS30',
 'SK5',
 'BD6',
 'NN13',
 'LA12',
 'SP1',
 'TF3',
 'DT6',
 'CF39',
 'BA5',
 'KT16',
 'SN8',
 'B28',
 'L39',
 'IP2',
 'NR17',
 'OL10',
 'CM13',
 'CB4',
 'DY4',
 'NR9',
 'B13',
 'CH63',
 'ST15',
 'NN7',
 'BS21',
 'RM17',
 'EX20',
 'GU2',
 'RG31',
 'KT17',
 'L9',
 'CF32',
 ...]